.view-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.view-button:hover {
    color:#238ffa;
}

.view-button:active {
    color:#104c88;
}

.view-counter {
    background-color: transparent;
    font-size: 17px;
    font-weight: bold;
    color: #1976d2;
}