.headerLogo{
    height: 130px;

}
.wrapperHeaderLogo{
   margin-left: 1rem;
}
.drawerLogo{
    width: 100%;
    height: 110px;
    margin: 0 auto;
   
}

.top-header{
    background-color: #1976d2;
    height: 40px;
    display: flex;
    flex-direction: row;
    color: #FFF;
    padding: .5rem 10%;
    justify-content: space-between;
    
  }
  .left-header{
    display: inline-block;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-items: center;
    font-size: .8rem !important;
    margin: 0 1rem;
  }

@media only screen and (max-width: 600px) { /* For Mobile Screen */
  .hidden-sm{
    display:none;
  }
  .headerLogo{
    height: 80px;
  }
  .wrapperHeaderLogo{
    margin: 0 !important;
  }
}

@media only screen and (max-width: 320px) { /* For Mobile Screen */
    .headerLogo{
        height: 80px;
    
    }
  }

  .MuiButtonBase-root .MuiButton-root .MuiButton-contained .MuiButton-containedSuccess .MuiButton-sizeMedium .MuiButton-containedSizeMedium .MuiButton-root .MuiButton-contained .MuiButton-containedSuccess .MuiButton-sizeMedium .MuiButton-containedSizeMedium .css-ke5b6m-MuiButtonBase-root-MuiButton-root{
    background-color: #66cb66 !important;
    box-shadow: none !important;
  }
  .property-label{
    min-width: 100px;
    font-size: .8rem;
    padding: 5px;
    font-weight: 700;
    color: #FFF;
    background-color: #ff9832;
    text-transform: uppercase;
    border-radius: 8px;
    padding: .6rem 1rem;
  }
  .wrapper-header-items{
    display:flex;
    flex-direction: row;
    min-width: 320px;
  }