.form-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
 
}
.form-container{
    display:flex;
    flex-direction: row;
    margin: 1rem auto;
}
.form-header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.homeowner-bg{
    background-image: url('../../assets/images/homeOwnerbg.png');
    background-size:cover;
    background-repeat: no-repeat;
    min-height: 455px;
}