.heading{
    font-size: 28px;
    font-weight: 700;
    margin-top:1rem;
}
.sub-heading{
    font-size: 20px;
    font-weight: 700;
    margin:1rem .5rem 0 .5rem;
}
.text-heading{
    margin-top: 1rem;
    font-weight: 700;
}
.flex-row{
    display:flex;
    flex-direction: row;
    justify-content: center;
    padding: .5rem

}
.flex-row:hover{
    background-color: #e3e3e3;
    cursor: pointer;
}
.flex-item{
    flex: auto;
    font-size: 20px;
    margin-left: 5px;
}
@media screen and (max-width: 600px) {
    .flex-row{
        flex-direction: column;
    }
    .flex-item{
        flex: 1;
        margin: 0 .5rem;
    }
}